
* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  margin:8px;
  padding:8px;
}

.btn.active {
  background-color: red;
}

#selection-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}

#selection-type,
#selection-digits,
#selection-number {
  width: 100%;
}

#subtraction,
#addition,
#multiplication,
#division {
  width: 22%;
}

#one,
#two,
#three {
  width: 30%;
}

#five,
#ten,
#twenty,
#thirty {
  width: 22%;
}
